:root {
    --myHidden: initial;
    --myDisplay: block;
    --myFlex: flex;
}

#currently-playing .playlist-sounds .sound > .sound-name {
    display: var(--myDisplay);
}

#currently-playing .playlist-sounds .sound > .sound-controls {
    display: var(--myFlex);
}
#currently-playing .playlist-sounds .sound .sound-playback .sound-control {
    display: var(--myDisplay);
}

#playlists .directory-list, #playlists-popout .directory-list {
    display: var(--myDisplay);
}
